table{
    height: 500px;
}
input{
    width: 100%;
    height: 40px;
    border: 2px solid green;
    font-size: 20px;
}
textarea{
    width: 100%;
    height: 100px;
    border: 2px solid green;
     font-size: 20px;
}
select{
    width: 100%;
    height: 40px;
    border: 2px solid green;
     font-size: 20px;
}
input[type=button]:hover{
    background-color: black;
    color: white;
}
