*{
   margin: 0;
   padding: 0;
}
h1{
    color: red;
}
body{
    background-color: rgb(236, 212, 153);
}
#menu ul{
    list-style: none;
    z-index: 1000;
}
#menu ul li{
    background-color: black;
    border: 2px solid white;
    width: 295px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
}    
#menu ul li a{
    text-decoration-line: none;
    color: white;
    display: block;
}
#menu ul li a:hover{
    background-color:green;
}
#menu ul ul{
    position: absolute;
    display: none;
}
#menu ul li:hover>ul{
    display: block;
}

#outerbox{
}
.food_items{
    border: 0px solid black;
 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.food_items_pro{
    border: 2px solid black;
    height: 200px;
    width: 400px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px black;
    transition: transform 1s;
}
.food_items_pro:hover{
    transform: scale(1.1);
}
.food_items_pro img{
    width: 100%;
    height: 90%;
}
.title p{
    text-align: center;
}
.footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: black;
}
.footerbox{
    width: 300px;
    height: 180px;
    float: left;
    color: white;
    text-align: center;
}












